* {
    font-family: 'Rubik', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #3CDBC0;
}


/* HEADER */

.menu_web {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    color: #4a4a4a;
    background-color: white;
    align-items: center;
}

.logo {
    margin-top: 20px;
    width: 155px;
}

.options {
    list-style-type: none;
    text-transform: uppercase;
}

.blog {
    margin: 10px 20px 13px 0;
    display: inline-block;
}
.contact { 
    margin: 10px 0 13px 0;
    display: inline-block;
}

/* MAIN */

.principal_text {
    position: relative;
}

.text {
    font-size: 30px;
    font-weight: 900;
    text-transform: capitalize;
    height: 100vh;
    padding-top: 200px;
    color: #ffffff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%);
}



/* STYLES FOR TABLET */

@media all and (min-width:767px){
    
}
